{{!-- Project Page Template --}}
<div class="main-container">
    <div class="project-main">
        <div class="account-info">
            <div class="account-name">
                <h2>{{project.name}}</h2>
            </div>
            <div class="contact-info">

            </div>
        </div>

{{!-- Displays all current project asks --}}
    {{#if projectAsks.length}}
        <div class="project-asks">
            <h3>Project Asks:</h3>

            {{#each projectAsks as |projectAsk|}}
            {{!-- Not sure how to make sure I'm pulling from the right project. 
            How to incorporate the project id? Project-ask-item container
            is set up for Flex to be set in a row so you can delete asks with the 'X'
            if the user wants to. --}}
            <div class="project-ask-item">
                <div class="project-ask-desc">
                    <p>{{projectAsks.description}}</p>
                </div>
                <div class="project-ask-delete">
                    <button class="project-ask-del-btn">X</button>
                </div>
            </div>
        {{/each}}
        </div>
    {{/if}}
{{!-- Kanban Style container with To Do, In Progress, and Done tasks --}}
        <div class="tasks kanban">

            
            <div class="to-do-container">
                {{#if tasks.length}}

                {{#each tasks as |task|}}

                {{!-- How do I tell the task which div to be in based
                on its stage? (To Do, In Progress, and Done) --}}

                <div class="project-task-item">
                    <div class="project-task-desc">
                        <p>{{tasks.task_content}}</p>
                    </div>
                    <div class="project-task-delete">
                        <button class="project-task-del-btn">X</button>
                    </div>
                </div>

                {{/if}}

            </div>
            <div class="in-progress-container">

                {{#if tasks.length}}

                {{#each tasks as |task|}}

                <div class="project-task-item">
                    <div class="project-task-desc">
                        <p>{{tasks.task_content}}</p>
                    </div>
                    <div class="project-task-delete">
                        <button class="project-task-del-btn">X</button>
                    </div>
                </div>

                {{/if}}

            </div>
            <div class="done-container">

                    {{#if tasks.length}}

                    {{#each tasks as |task|}}

                <div class="project-task-item">
                    <div class="project-task-desc">
                        <p>{{tasks.task_content}}</p>
                    </div>
                <div class="project-task-delete">
                    <button class="project-task-del-btn">X</button>
                </div>
                </div>

                    {{/if}}

            </div>
        </div>

    </div>

    {{!-- Comment container on the right side (if we have time) --}}
    <div class="comment-main">
        <div class="comment-logout-main">
            <div class="comment-text-area">
                <div class="text-area-actual">

                </div>
                <div class="text-submit">
                    <button class="comment-submit-btn">Submit</button>
                </div>
            </div>

            <div class="logout-back-main">
                <div class="logout">
                    <button class="logout-btn">Logout</button>
                </div>
                <div class="back-to-list">
                    <button class="back-to-list-btn">Back to List</button>
                </div>
            </div>
        </div>

        <div class="comment-feed">
                
                {{#if comment.length}}

            <p>
                {{project.comment}}
            </p>

                {{#/if}}
        </div>

    </div>


</div>